* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    width: 30rem;
    padding-bottom: 1rem;
    border: 3px solid #0084ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.form-controller {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.form-tittle {
 font-size: 3rem;
 margin-top: 3rem;
}

.form-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-controller {

}

.input-main-container {
margin-top: 1.5rem;
}
.input-container {
 width: 20rem;
 height: 2rem;
 background-color: transparent;
 outline: none;
 border: none;
 border-bottom: 1.2px solid rgba(14, 13, 13,0.7);
 text-transform: capitalize;
}

input::placeholder {
    /* color: rgba(14, 13, 13,0.5) */
    color: rgba(14, 13, 13,0.7);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}

.login {

}

.login-desc {
 font-size: 12px;
}
.login span {
    /* color: red; */
    font-weight: 800;
    font-size: 18px;
}

.signUp-btn {
margin-top: 2.5rem;
}

.signUp-link {
 text-decoration: none;
 padding: .5rem 2rem;
 background-color: rgba(10, 9, 9, 0.9);
 width: 13rem;
 display: block;
 cursor: pointer;
 outline: none;
 border: none;
 color: aliceblue;
 text-transform: capitalize;
 text-align: center;
}

.error-msg-container {
    margin-top: 1rem;

}

.error-desc {
color: red;
}